aiofiles
aiogram
aiohttp
aiosignal
annotated-types
async-timeout
asyncio
attrs
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
pydantic
pydantic-settings
pydantic_core
python-dotenv
typing_extensions
yarl
